:root{
    --primario-color:#333;
    --second-color:#fff;
    --gd-container:#dcdcdc;
    --bluedark:#112673;
    --skyblue:#11998e;
}
* {
  margin: 0;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}
/* resolucion mobil */
.grid-conteiner {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  color: var(--primario-color);
  grid-template-columns: 100%;
  grid-template-rows:
    6.25em
    3.125em
    1fr
    6.25em
    12.5em;

  grid-template-areas:
    "a-header a-header a-header"
    "a-nav a-nav a-nav"
    "a-section a-section a-section"
    "a-aside a-aside a-aside"
    "a-footer a-footer a-footer";
}
.grid-item {
  border: 3px solid var(--primario-color);
}
.grid-header {
  background:var(--bluedark) ;
  grid-area: a-header;
}

.logo-header {
  margin: 1.875rem auto;
  text-align: center;
}
.logo-header_a {
  text-decoration: none;
}
.logo-header_a > .logo-header_img {
  width: 100%;
  object-fit: cover;
}
.logo-header_img {
  width: 250px;
}
.grid-nav {
  background: var(--skyblue);
  grid-area: a-nav;
}

.grid-section {
  background:  var(--second-color);
  grid-area: a-section;
}

.grid-aside {
  background: var(--second-color);
  grid-area: a-aside;
}

.grid-footer {
  background: #262626;
  grid-area: a-footer;
}

.grid-table-pkm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(19, 0.1fr);
}
.table-pkm {
  border: thin solid #333;
}

.card {
  margin: 0 auto;
  /* background: var(--card-color); */
  color: rgb(255, 255, 255);
  width: 20;
  padding: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #1edfdf;
  color: black;
}
.card-back {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  width: 90%;
  height: 90%;
  padding: 13px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  background-color: var(--skyblue);
  color: #f5f5f5;
  transform: rotateY(180deg);
}
.card-information{
  text-align: center;
  padding-top: 3.125em;
}
.card-footer {
  background-color: #333;
  padding: 10px;
  margin: -10px;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

.card:hover {
  transform: rotateY(180deg);
}

