@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
:root{
    --primario-color:#333;
    --second-color:#fff;
    --gd-container:#dcdcdc;
    --bluedark:#112673;
    --skyblue:#11998e;
    --fontUniversal: 'Ubuntu', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration:none; 
  list-style:none; 
  outline:none;
}

body {
  font-family: var(--fontUniversal);
  font-size: 16px;
  overflow-x: hidden;
}
/* resolucion mobil */
.grid-conteiner {
  display: grid;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  color: var(--primario-color);
  grid-template-columns: 100%;
  grid-template-rows:
    6.25em
    3.125em
    1fr
    6.25em
    12.5em;

  grid-template-areas:
    "a-header a-header a-header"
    "a-nav a-nav a-nav"
    "a-section a-section a-section"
    "a-aside a-aside a-aside"
    "a-footer a-footer a-footer";
}
.grid-item {
  border: 1px solid var(--primario-color);
}
.grid-header {
  background:var(--bluedark) ;
  grid-area: a-header;
}

.logo-header {
  margin: 1.875rem auto;
  text-align: center;
}
.logo-header_a {
  text-decoration: none;
}
.logo-header_a > .logo-header_img {
  width: 100%;
  object-fit: cover;
}
.logo-header_img {
  width: 250px;
}
.grid-nav {
  background: var(--skyblue);
  grid-area: a-nav;
}

.grid-section {
  background:  var(--second-color);
  grid-area: a-section;
}

.grid-aside {
  background: var(--second-color);
  grid-area: a-aside;
}

.grid-footer {
  background: #5c5a5a;
  grid-area: a-footer;
  color: #112673;
}
.nav-container{
 width: auto;
}
.nav-ul{
display: flex;
flex-wrap: nowrap;
justify-content: center;
}
.nav__li:last-child{
  padding-right:10px;
}
.nav__a{
  color:#002e5b;
  font-size:18px;
  padding: 15px 10px 20px;
  display:inline-block; 
  transition: all 0.5s ease 0s;
}
 .nav__a:hover{
  background:var(--bluedark); 
  color:var(--second-color);
   transition: all 0.1s ease 0s;
  }
 
.grid-table-pkm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(19, 0.1fr);
  gap: 20px;
  margin-top: 15px;
}
.table-pkm {
  border: thin solid #333;
}

.card {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  width: 20;
  padding: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: all 0.0s ease;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #1edfdf;
  color: #000000;
}
.card-back {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  width: 90%;
  height: 90%;
  padding: 13px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  background-color: var(--skyblue);
  color: #f5f5f5;
  transform: rotateY(180deg);
}
.card-information{
  text-align: center;
  padding-top: 3.125em;
}
.card-footer {
  background-color: #333;
  padding: 10px;
  margin: -10px;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

.card:hover {
  transform: rotateY(180deg);
}
@media (min-width: 700px)  {
  .grid-conteiner {
    grid-template-columns: 80px 1fr 200px;
    grid-template-rows: 50px 50px 1fr 100px;

    grid-template-areas:
      "a-header a-header a-header"
      " a-nav a-nav a-nav"
      " a-section a-section"
      " a-section a-section"
      " a-section a-section"
      "a-aside a-aside a-aside"
      "a-footer a-footer a-footer";
  }

  .logo-header {
    margin: auto;
    text-align: center;
  }
  .nav-ul{
    justify-content: space-evenly;
  }
  .grid-table-pkm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 0.19fr);
    gap: 10px;
    margin-top: 15px;
  }
  
}

/*  Resolucion escritorio */
@media (min-width: 1024px) {
  .grid-conteiner {
    width: 100vw;
    grid-template-columns: 200px 60px 1fr;
    grid-template-rows: 200px 60px 1fr;
    grid-template-areas:
      "a-header a-header a-header"
      " a-nav a-nav a-nav"
      "a-aside  a-section a-section"
      "a-aside  a-section a-section"
      "a-footer a-footer a-footer";
  }

  body {
    background: url("./img/58402.jpg");
    background-size: 100%;
  }
  .logo-header_img {
    width: 40.625em;
    filter: drop-shadow(16px 16px 10px rgb(228, 207, 16));
  }
  .grid-table-pkm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 30px;
  }
  
}